@import url('../carousel.parent.component.scss');

.flight-book-table-header h2::before {
    font-family: "FontAwesome";
    font-style: normal;
    width: 10px;
    height: 10px;
    content: '\f058';
    color:rgb(9, 194, 92);
}
.flight-book-table-header h2{
    font-size:14px!important;
}
.flight-book-table{
 background-color: #fff;
 //justify-content: center;
}
.p-2{
    padding:2px!important;
}
.spacer{
    padding:20px;
    display: inline-block;
}
.bookDtBtn{
    padding:10px!important;
}
.row-bottm-border{
    border-bottom: 1px solid #b4b7bd; 
}
.pull-left{
    float: left !important;
}