.reissuenowBtn  {
    color: #ffffff;
    background-color: #d6083b!important;
    //background-color:#54C7C3 !important;
    // padding:0!important;
    // width: 135px;
    // height: 30px;
    padding-left: 20px !important;
    padding-right: 50px !important;
    padding: 12px !important;
    letter-spacing: .1em;
    border-radius: 0px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    display: block;
    margin: auto;
    text-align: center;
    height: unset !important;
    margin-top:10px;
}

.reissuenowBtn :hover {
    //background-color: #6DCECB !important;
    background-color: #51585c !important;
}
input.submit {
    text-transform: uppercase;
    height: 30px;
    float: center;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    font-family: Montserrat-SemiBold, DroidSans, Arial, Sans-serif;
    -webkit-font-smoothing: antialiased !important;
    color: #fff;
    font-size: 14px;
    background: #d6083b;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.custom-date
{
    background:unset !important;
}
.flight-pop-table-header h3::before {
    font-family: "FontAwesome";
    font-style: normal;
    width: 40px;
    height: 40px;
    font-size: 100px;
    content: '\f058';
    color: rgb(9, 194, 92);
}

@media (min-width: 992px) {
    .modal-md {
        // max-width: 600px;
        top: 10%;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        top: 10%;
    }
}
.flight-pop-table-header{
    text-align: center;
}
.flight-pop-table-header h3 {
    font-family: Whitney-Bold !important;
    color: hsl(60, 1%, 25%);
    font-size: 25px;
    font-weight: 400;
}

.flight-pop-table-header .fa-spinner {
    //padding-right: 5px;
}

.flight-pop-table-header .fa-spinner::before {
    content: '\f110';
    font-size: 25px;
    color: #40403f;
    // transition: 0.9s;
    //transform: rotateY(360deg);
}

.flight-pop-table-header span.mainTxt {
    display: inline-flex;
    //padding-left: 5px;
    font-family: Whitney-Medium !important;
    color: #40403f;
    font-size: 25px;
}

.flight-pop-table-header span.mainTxt p {
    display: inline-flex;
    //padding-left:5px;
    font-size: 15px;
    font-weight: 400;
}
.modal-body.modal-md{
    padding: 0;
}
.loader .modal-dialog>.modal-content {
    border: unset;
    background-color: transparent;
    text-align: center;
}

.loader .modal-header {
    border: unset;
    background-color: transparent;
}

.loader .modal-footer {
    border: unset;
    background-color: transparent;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal-footer,
.modal-header {
    border-color: transparent;
}
.book-sucess{
    display:block;
}
.calendarLgClickIcon {
    
    background: transparent url("../../../assets/calendar-icon.png") no-repeat;
    display: inline-block;
    width: 41px;
    height: 40px;
    right: 0;
    position: absolute;
    top: 15%;
    font-size: 10px;
    cursor: pointer;
    z-index: 9;

}