.flight-book-table-header h3::before {
    font-family: "FontAwesome";
    font-style: normal;
    width: 40px;
    height: 40px;
    content: '\f058';
    color:rgb(9, 194, 92);
}
@media (min-width: 992px)
{
.modal-lg {
    max-width: 400px;
    top:20%;
}}

.flight-book-table-header h3{
    font-family: Whitney Semibold!important;
    font-size:25px;
    font-weight: 500;
}