    @import url('../carousel.parent.component.scss');
    @import url('../../carousel.parent/flight.booking.cancel.refund/flight.booking.cancel.refund.scss');
    .flight-book-table-header h2::before {
        font-family: "FontAwesome";
        font-style: normal;
        width: 10px;
        height: 10px;
        content: '\f058';
        color: rgb(9, 194, 92);
    }
    
    .cancel-flight-icon::after {
        font-family: "FontAwesome";
        font-style: normal;
        width: 10px;
        height: 10px;
        content: '\f054';
        color: #6b6b6b;
    }
    
    .flight-book-table-header h2 {
        font-size: 14px!important;
    }
    
    .flight-book-table {
        background-color: #fff;
        justify-content: center;
    }
    
    .p-2 {
        padding: 2px!important;
    }
    
    .spacer {
        padding: 20px;
        display: inline-block;
    }
    
    .bookDtBtn {
        padding: 10px!important;
    }
    
    .bookDtBtn.mr-5 {
        margin-right: 5px !important;
    }
    
    .row-bottm-border {
        border-bottom: 1px solid #b4b7bd;
    }
    
    .row-exclaim::before {
        color: #FF9E2C;
        font-family: "FontAwesome";
        font-style: normal;
        width: 10px;
        height: 10px;
        content: '\f06a';
    }
    
    .row-exclaim {
        font-size: 20px;
    }
    
    .cancelQstn {
        font-weight: 700;
        // font:inherit;
        font-size: 15px;
    }
    
    .cancelConfirm {
        display: flex;
        align-items: center;
    }
    
    .row-cancel-detail {
        padding-left: 18px;
        color: #e36b2b;
    }
    
    .flight-section-cancel-header {
        // background-color: rgba(230, 123, 66, 0.1);
        // border: 1px solid rgba(230, 123, 66, 0.2);
        //color: #e36b2b;
        margin-top: 10px;
        text-align: left;
        background: #EEF2F4;
        color: #5D6F78;
        font-size: 24px;
        font-weight: 500;
        border: 1px solid #DEDEDE;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 10px;
        //  margin-right: 8.33%;
        font-family: Whitney-Medium !important;
    }
    
    .flight-section-cancel {
        //  border: 1px solid #DEDEDE;
        width: 100%;
    }
    
    .flight-section-cancel-header-dtl {
        border: 1px solid #f2f2f2;
        border-top: none;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        padding: 10px;
        border-bottom-color: transparent;
        font-family: Whitney-Medium !important;
    }
    
    .flight-section-cancel-dtl {
        border: 1px solid #f2f2f2;
        border-top: none;
        padding-bottom: 10px;
    }
    
    .flight-section-cancel-sum-trip {
        color: #40403f;
        font-weight: 500;
        font-size: 15px;
        font-family: Whitney-Medium !important;
        line-height: 20px;
        // text-shadow: 1px 1px 1px #ccc;
    }
    
    .flight-section-cancel-sum-dtl {
        padding: 10px;
        background-color: #F6F6F6;
        margin-top: 5px;
        border: 1px solid #ccc;
    }
    
    .flight-section-cancel-ref {
        //background-image: linear-gradient(to bottom, #666666, #595959, #4c4c4c, #3f3f3f, #333333);
        background-image: linear-gradient(to bottom, #666666, #4c4c4c, #343434, #1d1d1d, #000000);
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        // font-family: Whitney-Medium !important;
    }
    
    .flight-section-cancel-sum-dtl span {
        display: inline-block;
        padding: 5px;
    }
    
    .booking-ref-no {
        font-size: 18px;
        font-weight: 600;
    }
    
    .booking-ref {
        font-size: 14px;
        font-weight: 500;
        color: #f2f2f2;
    }
    
    .recordTripDt,
    .recordTripDuration {
        display: inline-block;
        color: #6f6660;
        font-size: 12px;
        font-weight: 600;
        //font-size: .875rem;
        line-height: 1.3;
    }
    
    .flight-section-cancel-flight-dtl {
        background-color: #fff;
    }
    
    .flight-dtl-header {
        align-items: center;
        display: flex;
    }
    
    .flight-dtl-header h5 {
        //  font-family: Whitney-Medium !important;
        color: #40403f;
        font-size: 20px;
        padding-right: 5px;
        position: relative;
        flex: 0;
        align-items: center;
        display: flex;
    }
    
    .flight-dtl-header h5::after {
        content: "\f072";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        font-size: 15px;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
    }
    
    .cancel-details {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background-color: #fff;
        // font-weight: 600;
        color: #6f6660;
        font-size: 13px;
        text-transform: uppercase;
    }
    
    .cancel-record-header {
        margin-top: 10px;
    }
    .flight-icon{
        position: relative;
    }