<!--The content below is only a placeholder and can be replaced.-->


<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Book | Search Flights</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>

<body>
    <header>
        <nav id="header" class="navbar fixed-top navbar-sm ">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <a id="brand" class="navbar-brand" href="#"></a>

                </div>

            </div>
            <!-- /.container -->
        </nav>
    </header>
    <div class="clear "></div>
    <main role="main" id="maincontent">
        <div class="main-div">
            <div id="main-content" class="wrapper heroWrapper">
                <app-flight-navigation-component></app-flight-navigation-component>
                <carousel-parent containername="containername"></carousel-parent>
                <ngbd-modal-component></ngbd-modal-component>

            </div>
        </div>
        <div class="threePointHighlight">
            <div class="container ptsCont">
                <div class="row">
                    <div class="col-4">
                        <span class="highlightCheckMark"> </span>
                        <div>
                            Lowest Budget Airline
                            <span class="bold pr-15">Fare Guarantee </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="highlightLogo"> </div>
                        <div>
                            Easy Book In
                            <span class="bold"></span>
                            <span class="bold">just 3 Steps</span>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="highlightLogo"> </div>
                        <div>
                            24x365 Days
                            <span class="bold">Free Phone Assistance</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-8 pull-left footer-top-widget-area-1">
                        <div id="text-2" class="widget widget_text">
                            <div class="textwidget">
                                <div class="social-icons-footer pull-left">
                                    <a href="http://twitter.com/cognizant" target="_blank">
                                        <img src="./assets/Twitter.png" class="img-responsive">
                                    </a>
                                    <a href="http://www.facebook.com/Cognizant" target="_blank">
                                        <img src="./assets/Facebook.png" class="img-responsive">
                                    </a>
                                    <a href="http://www.linkedin.com/company/cognizant" target="_blank">
                                        <img src="./assets/Linkedin.png" class="img-responsive">
                                    </a>
                                    <a href="https://www.youtube.com/user/cognizant" target="_blank">
                                        <img src="./assets/youtube.png" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4  footer-top-widget-area-3">
                        <div id="text-4 " class="widget widget_text ">
                            <div class="textwidget pull-right">©2018 Cognizant, all rights reserved</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>