<!--The content below is only a placeholder and can be replaced.-->


<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Compare XSD files</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
</head>

<body>
    <div>
        <nav id="header" class="navbar fixed-top navbar-sm ">
          <div id="header-container" class="container navbar-container">
            <div class="navbar-header">
              <a id="brand" class="navbar-brand" href="#">Project name</a>
            </div>
          </div>
          <!-- /.container -->
        </nav>
      <div class="clear "></div>
    <div >
      <main role="main" id="maincontent">
        <div id="main-content" class="wrapper heroWrapper">
          <carousel-parent containername="containername"></carousel-parent>
        </div>


      </main>
      <footer>
          <p>© Company 2014</p>
      </footer>


    </div>
  </div>
</body>

</html>