<ol class="l-horizontal-samewidth-list">
    <li class="is-before-active  step-navigation-past-step step-navigation-step">
        <a href="/">
            <span class="step-caption">
                <span class="icon-step icon-checked">
                    <!-- <span class="is-visuallyhidden">Step</span> -->
                    1
                </span>

                <span class="step-title">Search Flights</span>
            </span>
        </a>
    </li>

    <li class="is-active    step-navigation-step">
        <span>
            <span class="step-caption">
                <span class="icon-step">  2 </span>

                <span class="step-title">
                    Flights Schedule

                    <!-- <span class="is-visuallyhidden">Step</span> -->
                </span>
            </span>
        </span>
    </li>

    <li class="is-after-active  step-navigation-step">
        <span>
            <span class="step-caption">
                <span class="icon-step">
                    <!-- <span class="is-visuallyhidden">Step</span> -->
                    3
                </span>

                <span class="step-title">DEL-WAW</span>
            </span>
        </span>
    </li>

    <li class="step-navigation-step">
        <span>
            <span class="step-caption">
                <span class="icon-step">
                    <!-- <span class="is-visuallyhidden">Step</span> -->
                    4
                </span>

                <span class="step-title">Seat selection</span>
            </span>
        </span>
    </li>

    <li class="step-navigation-step">
        <span>
            <span class="step-caption">
                <span class="icon-step">
                    <!-- <span class="is-visuallyhidden">Step</span> -->
                    5
                </span>

                <span class="step-title">Passenger Details</span>
            </span>
        </span>
    </li>

    <li class="step-navigation-step">
        <span>
            <span class="step-caption">
                <span class="icon-step">
                    <!-- <span class="is-visuallyhidden">Step</span> -->
                    6
                </span>

                <span class="step-title">Payment Details</span>
            </span>
        </span>
    </li>

    <li class="step-navigation-step">
        <span>
            <span class="step-caption">
                <span class="icon-step">
                    <!-- <span class="is-visuallyhidden">Step</span> -->
                    7
                </span>

                <span class="step-title">Booking Details</span>
            </span>
        </span>
    </li>
</ol>