.l-horizontal-samewidth-list
{
    list-style: none;
    margin-top: 36px;
    margin-bottom: 1px;
    display: flex;
    border-bottom: 1px solid #DEDEDE;
}
.step-navigation-step{
    display: inline-block;
    position: relative;
    border: solid #ddd;
    border-width: 0 1px 0 0;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    line-height: 1;
    flex:1;
    list-style: none;
    font-size:14px;
    width:10px;
    
}
.icon-step:not(:last-child){
    border: 2px solid #9e9890;
    border-radius: 20px; 
}
.icon-step{
    display: inline-block;
    //vertical-align: middle;
  //  display: inline-flex;
  //  align-items: center;    
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 17px;
    background: #fff;
     margin: -2px 2px 0 0;
     
}
.step-title{
    padding: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #40403f;
}