<div class="tabs-content clear flight-schedule container-fluid " data-trip-index="0" data-bundle-product="" data-bundle-amount="0">
    <div class="container">
        <div class="row m0-xs-down  ">

            <div class=" p0-xs-down flight-section-search-head col-7">
            </div>
        </div>
        <div class="row row-table margin-top-5">
            <div class="flight-pax-table col-5">
                <div class="col-12 m-0 flight-pax-table-header">
                    <h2>Flight Details</h2>
                </div>
                <div class="container-fluid">

                </div>
            </div>
        </div>
    </div>
</div>