<div
    class="tabs-content clear flight-schedule container-fluid"
    data-trip-index="0"
    data-bundle-product=""
    data-bundle-amount="0"
>
    <div class="container">
        <div class="row m0-xs-down">
            <div class="p0-xs-down flight-section-search-head col-7"></div>
        </div>

        <div class="row row-table margin-top-5">
            <div class="flight-pax-table view-table p-0 col-7">
                <div class="col-12 m-0 outbound-header flight-pax-table-header">
                    <h2>Flight Details</h2>
                </div>

                <form
                    [formGroup]="myrecordForm"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="col-12 m-0 outbound-header flight-pax-table-header">
                        <h5>
                            Booking Reference: {{myrecordForm.value.data.pnr}}
                        </h5>
                    </div>

                    <div class="col-12 detail-container-head">
                        <div class="row row-table outbound-record">
                            <div class="col-1 flight-component-head-icon">
                                <div class="col-12 flight-view-icon"></div>
                            </div>

                            <div class="col-11">
                                <h2>Outbound Flights</h2>
                            </div>
                        </div>

                        <div class="row row-table outbound-record-details">
                            <div class="col-2">
                                <span class="margin-r-10">
                                    {{myrecordForm.value.data.originDescr}}({{myrecordForm.value.data.source}})
                                </span>

                                <span class="margin-r-10">
                                    {{myrecordForm.value.data.startTime}}
                                </span>
                            </div>

                            <div class="col-1">
                                <span class="flight-icon"></span>
                            </div>

                            <div class="col-2 ml-0 pl-0">
                                <span class="">
                                    {{myrecordForm.value.data.destDescr}}({{myrecordForm.value.data.destination}})
                                </span>

                                <span class="">
                                    {{myrecordForm.value.data.endTime}}
                                </span>
                            </div>

                            <div class="col-7 text-right">
                                <span>
                                    {{myrecordForm.value.data.carrierName}}
                                </span>
                            </div>

                            <div class="col-12">
                                <div class="row row-table view-detail-row">
                                    <div class="col-7">Depart On</div>

                                    <div class="col-5 text-right">DURATION</div>
                                </div>

                                <div class="row row-table">
                                    <div class="col-7">
                                        {{myrecordForm.value.data.traveldate}}
                                    </div>

                                    <div class="col-5 text-right">
                                        {{myrecordForm.value.data.duration}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 outbound-header flight-pax-table-header pax-record-header">
                                <h5>Passengers</h5>
                                </div>
                        <div class="row row-table pax-record-details">
                                <div class="col-12 ">
                                        <div class="row row-table ">
                            <div class="col-3 view-detail-row">fIRST NAME</div>
                            <div class="col-3 view-detail-row">LAST NAME</div>
                            <div class="col-6 padding-right-2 pr-0 view-detail-row text-right">ETICKET</div>
                        </div>
                        <div *ngFor="let user of myrecordForm.value.data.users; index as i" class="row row-table">
                                <div class="col-3 ">{{user.fname}}</div>
                                <div class="col-3 ">{{user.lname}}</div>
                                <div class="col-6 padding-right-2 pr-0 text-right">{{user.ticketNumber}}</div>
                        </div>
                       

                    </div>
                    </div>
                    </div>
                </form>
            </div>

            <div class="col-2"></div>
            <div class="col-3"></div>
        </div>
    </div>
</div>