@mixin bgimage($name) {
    background: url("/assets/tailfins/#{$name}_small.png") no-repeat ;
    width: 25px;
  height: 22px;
  display: inline-block;
  }
  .EY-logo {
    @include  bgimage("EY");
 
}
.LH-logo {
    @include  bgimage("LH");
   
}
.LX-logo {
    @include bgimage("LX");
   
  }